<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="smtpServerAddress" value="localhost" />
    <add key="smtpServerPort" value="25" />
    <add key="from" value="administrator@inventory.local" />
    <add key="to" value="recipients@inventory.local" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\tmp"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.runtime.caching>
    <memoryCache>
      <namedCaches>
        --><!--Set caching limits to poll more frequently--><!--
        <add name="Inventory" pollingInterval="00:00:10"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>-->
</configuration>